<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="main.vxod.css">
</head>

<body>
    <div class="content">
        <div class="box_left">
            <h4> ВХОД</h4>
            <form method="POST" action="/user_authorization">
                <label class="form-field">
                    <span>Логин:</span>
                    <input type="text" placeholder="Enter your login" name="login">
                </label>

                <label class="password">
                    <span>Пароль:</span>
                    <input type="password" placeholder="Enter your password" name="password">
                </label>
                    
                    <a class="registracia_a" href="/registration"> Регистрация </a>
           
                <label>
                    <input class="submit" type="submit" value="Вход">
                </label>
                <a href="#">Забыли пароль ?</a>
            </form>
        </div>
    </div>
</body>

</html>