<head>
    <link rel="stylesheet" href="./reset.css">
    <link rel="stylesheet" href="./main.css">

</head>

<div class="content_hideer">
    <div class="hideer">
        <h1>АВТОМОБИЛЬНЫЕ ПЕРЕВОЗКИ</h1>
    </div>
    <div class="hidder-text">
        <div class="text-ist">
            <h2>«АЦЕ ЛОГИСТИКС БЕЛ» – МЕЖДУНАРОДНЫЙ АВТОМОБИЛЬНЫЙ ПЕРЕВОЗЧИК</h2><br>
            <p> ACE Logistics Belобладает многолетним опытом в организации авто перевозок. Профессиональные экспедиторы
                имеют богатый опыт сотрудничества с партнерами по всему миру. Поэтому сеть путей для наземных
                транспортировок покрывает все самые востребованные направления вместе с менее популярными путями.
                Зарубежный
                опыт и кропотливая работа помогают специалистам компании собирать наиболее точную информацию о всех
                аспектах. Будь то дорожная обстановка, показатели эксплуатации авто транспорта, ситуации на таможенных
                пунктах и т.д. Все это нужно для того, чтобы рассчитать оптимальную стоимость и сроки доставки.</p><br>
            <h2>МЕЖДУНАРОДНЫЕ АВТОМОБИЛЬНЫЕ ПЕРЕВОЗКИ – ПРЕИМУЩЕСТВА</h2>
            {{!-- <ul> --}}
            <p>
                <li>Регулярные авто из Вильнюса в Минск 4 раза в неделю: понедельник, вторник, четверг, пятница;</li>
                <li>Любые условия поставок (EXW, FCA, CPT, DAT…);</li>
                <li>Возможность перевозки опасных грузов (ADR).</li>
                <li>Перевозка комплектных, мелких и крупных сборных грузов (до 2500 кг, до 7 европаллет и от 2500 кг) по
                    NETWORK. Эта система охватывает многочисленную сеть терминалов в Европе, связь между которыми
                    обеспечивается ежедневно;</li>
                <li>Автомобильные перевозки могут быть частью мультимодальной доставки.</li>
                <li>Соотношение цена-качество: выгодные тарифы + гарантия сохранности товаров и доставки в срок.

                </li>
            </p>

            {{!-- </ul> --}}
        </div>
    </div>
</div>