<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="main.vxod.css">
</head>

<body>
 <div class="content">
        <div class="box_left">
            <h4> Регистрация</h4>
            <form method="POST" action="/user_registation">
                <label class="form-field">
                    <span>Е-mail:</span>
                    <input type="text" placeholder="Enter your e-mail" name="email">
                </label>
                <label class="form-field">
                    <span>Логин:</span>
                    <input type="text" placeholder="Enter your login" name="login">
                </label>
                
                <label class="password">
                    <span>Пароль:</span>
                    <input type="password" placeholder="Enter your password" name="password">
                </label>
                <form method="link" action="/home"> 
                    <input class="submit" type="submit" value="Регистрация">
                    </form>
            </form>
        </div>
    </div>
</body>
</html>